Steps we performed to setup database:

1. Download a csv file containing stock data for approximately 1000 companies from Quandl, for years 2010-2017: SHARADAR-SF1.csv
2. Download a csv file that describes the Quandl elements: SHARADAR-INDICATORS1.csv
3. Get ticker symbols from yahoo finance, to be able to get company names: Yahoo Ticker Symbols - September 2017.csv
4. Randomly pick 10 tickers/companies to model: A, AAPL, AMD, ARQL, AU, BHP, BLIN, BOSC, BP, CVX
5. Create a new schema/database called stockuser in MySQL
6. Import the Quandl stock data into MySQL, using the import wizard - approximately 10000 rows
7. Create a new table containing Yahoo Ticker symbols and company names.
8. Calculate stock returns for each year (((new stock price + dividends) - old stock price)/old stock price) * 100
9. Create a new table that contains only the rows/columns that we are concerned with.
10. Export a csv file of the table.
11. use scipy regression to generate regression values.

In order to get our project to work we will provide the cvs file needed from step 10. above.
below steps are required:

1. create user as below: stockuser
2. create table stocks10
3. insert rows into table from csv

In [1]:
# Dependencies
from matplotlib import pyplot as plt
from scipy import stats

import numpy as np
import pandas as pd

# SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

#json
from flask import (
    Flask,
    render_template,
    jsonify,
    request,
    redirect)
import MySQLdb
import csv

In [11]:
#create user
db1 = MySQLdb.connect(host="localhost",user="root",passwd=<passwd>)
cursor = db1.cursor()
sql = 'CREATE DATABASE stockuser'
cursor.execute(sql)

#create table to hold stock data
sql = 'CREATE TABLE stockuser.stocks10 (company_name text, ticker text,calendardate text,\
pe text, pb text,fcf text,stock_return text) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;'
cursor.execute(sql)

#inserting rows into table
with open('stocks_10_selected.csv', newline='') as myFile:  
    reader = csv.reader(myFile)
    for row in reader:
        print(row)
        cursor.execute("INSERT INTO stockuser.stocks10(company_name,ticker,calendardate,pe,pb,fcf,stock_return) VALUES(%s,%s,%s,%s,%s,%s,%s)", row)
#commit and close the connection
db1.commit()
cursor.close()

['company_name', 'ticker', 'calendardate', 'pe', 'pb', 'fcf', 'stock_return']
['Agilent Technologies, Inc.', 'A', '12/31/2012', '10.876', '2.42', '1034000000', '-2.913407068']
['Agilent Technologies, Inc.', 'A', '12/31/2013', '22.876', '3.177', '959000000', '41.83917755']
['Agilent Technologies, Inc.', 'A', '12/31/2014', '33.582', '3.478', '540000000', '9.80464933']
['Agilent Technologies, Inc.', 'A', '12/31/2015', '31.206', '3.003', '426000000', '-30.69319826']
['Agilent Technologies, Inc.', 'A', '12/31/2016', '30.592', '3.331', '654000000', '57.88665254']
['Agilent Technologies, Inc.', 'A', '12/31/2017', '32.009', '4.532', '713000000', '57.23954556']
['Apple Inc.', 'AAPL', '12/31/2012', '14.985', '5.29', '41454000000', '65.66338972']
['Apple Inc.', 'AAPL', '12/31/2013', '11.842', '3.55', '44590000000', '-25.49885101']
['Apple Inc.', 'AAPL', '12/31/2014', '15.269', '5.408', '49900000000', '51.67310481']
['Apple Inc.', 'AAPL', '12/31/2015', '12.252', '5.481', '69778000000', '19.6128139']
['Apple Inc.', 'AAPL', '12/31/2016', '13.293', '4.736', '52276000000', '5.179496121']
['Apple Inc.', 'AAPL', '12/31/2017', '16.464', '5.939', '50803000000', '45.97402183']
['Advanced Micro Devices, Inc.', 'AMD', '12/31/2012', '-1.372', '3.017', '-471000000', '-57.77777778']
['Advanced Micro Devices, Inc.', 'AMD', '12/31/2013', '-32.958', '5.029', '6000000', '65.78947368']
['Advanced Micro Devices, Inc.', 'AMD', '12/31/2014', '-5.098', '10.987', '-193000000', '-29.89417989']
['Advanced Micro Devices, Inc.', 'AMD', '12/31/2015', '-3.496', '-5.6', '-314000000', '10.18867925']
['Advanced Micro Devices, Inc.', 'AMD', '12/31/2016', '-21.148', '25.266', '13000000', '288.3561644']
['Advanced Micro Devices, Inc.', 'AMD', '12/31/2017', '230.654', '16.641', '-45000000', '-9.347442681']
['ArQule, Inc.', 'ARQL', '12/31/2012', '-15.998', '2.147', '-34321000', '-50.53191489']
['ArQule, Inc.', 'ARQL', '12/31/2013', '-5.48', '2.224', '-33680000', '-22.9390681']
['ArQule, Inc.', 'ARQL', '12/31/2014', '-3.274', '1.889', '-31282000', '-43.25581395']
['ArQule, Inc.', 'ARQL', '12/31/2015', '-9.908', '4.677', '-22177000', '77.86885246']
['ArQule, Inc.', 'ARQL', '12/31/2016', '-3.944', '3.784', '-22952000', '-41.93548387']
['AngloGold Ashanti Limited', 'AU', '12/31/2012', '13.368', '2.191', '1576000000', '-23.97111896']
['AngloGold Ashanti Limited', 'AU', '12/31/2013', '-2.042', '1.459', '852000000', '-59.42065668']
['AngloGold Ashanti Limited', 'AU', '12/31/2014', '-89.817', '1.231', '1230000000', '-17.15238908']
['AngloGold Ashanti Limited', 'AU', '12/31/2015', '-40.978', '1.18', '1151000000', '-6.784597701']
['AngloGold Ashanti Limited', 'AU', '12/31/2016', '53.242', '1.569', '1213000000', '62.24985915']
['AngloGold Ashanti Limited', 'AU', '12/31/2017', '-24.326', '1.562', '1002000000', '7.532254995']
['BHP Billiton Limited', 'BHP', '12/31/2012', '13.554', '3.184', '5919000000', '-26.74820881']
['BHP Billiton Limited', 'BHP', '12/31/2013', '16.501', '2.621', '1029000000', '-2.014441041']
['BHP Billiton Limited', 'BHP', '12/31/2014', '15.894', '2.778', '9852000000', '33.71812348']
['BHP Billiton Limited', 'BHP', '12/31/2015', '68.454', '2.019', '7203000000', '-24.25831994']
['BHP Billiton Limited', 'BHP', '12/31/2016', '-14.366', '1.69', '3344000000', '1.365708671']
['BHP Billiton Limited', 'BHP', '12/31/2017', '19.406', '1.996', '12196000000', '72.84201681']
['Bridgeline Digital, Inc.', 'BLIN', '12/31/2012', '-19.286', '0.794', '-1210000', '125.5639098']
['Bridgeline Digital, Inc.', 'BLIN', '12/31/2013', '-5.403', '0.855', '-1436000', '-8.333333333']
['Bridgeline Digital, Inc.', 'BLIN', '12/31/2014', '-2.29', '0.714', '-4316000', '-40.90909091']
['Bridgeline Digital, Inc.', 'BLIN', '12/31/2015', '-0.321', '0.955', '-2950000', '-62.46153846']
['Bridgeline Digital, Inc.', 'BLIN', '12/31/2016', '-1.853', '1.282', '-2847000', '-35.24590164']
['Bridgeline Digital, Inc.', 'BLIN', '12/31/2017', '-6.403', '1.069', '-1033000', '-27.34177215']
['B.O.S. Better Online Solutions Ltd.', 'BOSC', '12/31/2012', '-9.176', '1.596', '1653000', '12.77819455']
['B.O.S. Better Online Solutions Ltd.', 'BOSC', '12/31/2013', '0', '2.371', '1272000', '71.84035477']
['B.O.S. Better Online Solutions Ltd.', 'BOSC', '12/31/2014', '-9.183', '0.751', '1052000', '-59.22580645']
['B.O.S. Better Online Solutions Ltd.', 'BOSC', '12/31/2015', '10.525', '0.54', '304000', '-38.29113924']
['B.O.S. Better Online Solutions Ltd.', 'BOSC', '12/31/2016', '12.91', '0.541', '-485000', '8.717948718']
['B.O.S. Better Online Solutions Ltd.', 'BOSC', '12/31/2017', '8.316', '0.629', '40000', '3.301886792']
['BP p.l.c.', 'BP', '12/31/2012', '11.954', '1.111', '7249000000', '6.00276088']
['BP p.l.c.', 'BP', '12/31/2013', '6.611', '1.199', '14695000000', '30.79498079']
['BP p.l.c.', 'BP', '12/31/2014', '34.333', '1.165', '12028000000', '-4.755502983']
['BP p.l.c.', 'BP', '12/31/2015', '-16.08', '1.072', '-3000000', '9.772743966']
['BP p.l.c.', 'BP', '12/31/2016', '1089.393', '1.315', '-5389000000', '61.09305822']
['BP p.l.c.', 'BP', '12/31/2017', '43.51', '1.497', '4027000000', '53.56714821']
['Chevron Corporation', 'CVX', '12/31/2012', '8.085', '1.55', '7874000000', '7.787669173']
['Chevron Corporation', 'CVX', '12/31/2013', '11.213', '1.611', '-2983000000', '25.14175143']
['Chevron Corporation', 'CVX', '12/31/2014', '11.022', '1.368', '-3932000000', '1.562028661']
['Chevron Corporation', 'CVX', '12/31/2015', '36.91', '1.109', '-10048000000', '-2.871091104']
['Chevron Corporation', 'CVX', '12/31/2016', '-447.063', '1.526', '-5263000000', '56.66564028']

In [12]:
# Create Engine and Pass in MySQL Connection
engine = create_engine("mysql://root:<passwd>@localhost:3306/stockuser")
conn = engine.connect()

# Query Single Record in the the Database
#data = engine.execute("SELECT stock_return,pe FROM stocks WHERE ticker = 'A' and stock_return != 0;")
# Query All Records in the the Database
ticker='A'
query_string = "SELECT stock_return,pe,pb,fcf FROM stocks10 WHERE ticker = '"+ticker+"' and stock_return != 0;"
query_string
data = pd.read_sql(query_string, conn)

data.head()

C:\Users\Owner\Anaconda3\envs\Pythondata1\lib\site-packages\pymysql\cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, which will be replaced by UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

   stock_return      pe     pb         fcf
0  -2.913407068  10.876   2.42  1034000000
1   41.83917755  22.876  3.177   959000000
2    9.80464933  33.582  3.478   540000000
3  -30.69319826  31.206  3.003   426000000
4   57.88665254  30.592  3.331   654000000

In [13]:
stockreturn = []
pe = []
pb = []
fcf = []
for row in data.iterrows():
    stockreturn.append(row[1].stock_return)
    pe.append(row[1].pe)
    pb.append(row[1].pb)
    fcf.append(row[1].fcf)
    
stockreturnint = [float(i) for i in stockreturn]
peint = [float(i) for i in pe]
pbint = [float(i) for i in pb]
fcfint = [float(i) for i in fcf]

In [15]:
pe_slope, pe_int, pe_r_value, pe_p_value, pe_std_err = stats.linregress(peint,stockreturnint)
pb_slope, pb_int, pb_r_value, pb_p_value, pb_std_err = stats.linregress(pbint,stockreturnint)
fcf_slope, fcf_int, fcf_r_value, fcf_p_value, fcf_std_err = stats.linregress(fcfint,stockreturnint)

regPE = [pe_slope, pe_int, pe_r_value, pe_p_value, pe_std_err]
regPB = [pb_slope, pb_int, pb_r_value, pb_p_value, pb_std_err]
regFCF = [fcf_slope, fcf_int, fcf_r_value, fcf_p_value, fcf_std_err]